**/.cloud/
**/.secrets
**/.storage/
**/.venv/
**/custom_components/
**/deps/
**/home-assistant.log*
**/node_modules/
**/secrets.*
**/themes/
**/tts/
**/www/
**/zigbee.d*
blueprints/
home-assistant_*
image/
install.sh
